<!DOCTYPE html>
<html>

<head>
    <title>Files in {{ path }}</title>
    <style type="text/css">
        .image-grid {
            display: grid;
            /* 3列のグリッドを作成 */
            grid-template-columns: repeat(3, 1fr);
            /* グリッドアイテム間の隙間 */
            grid-gap: 10px;
        }

        .image-grid img {
            /* 画像をグリッドセルに合わせる */
            width: 100%;
            /* 画像の縦横比を維持 */
            height: auto;
        }
    </style>
</head>

<body>
    <h1>Files in {{ path }}</h1>
    <div class="image-grid">
        {% for file in files %}
        <a href="/files/{{ file }}">
            <img src="/files/{{ file }}" alt="画像1">
        </a>
        {% endfor %}
    </div>
    <h2>Directories</h2>
    <ul>
        {% for dir in dirs %}
        <li><a href="/files/{{ dir }}">{{ dir }}</a></li>
        {% endfor %}
    </ul>
</body>

</html>